<!-- Footer -->
<footer class="page-footer font-small unique-color-dark">
  <div class="container-fluid">

    <!-- First Section of the Footer -->
    <div class="row" style="background-color: rgba(46, 95, 255, 0.7); height:48px;">
      <div class="container">
        <div class="row" >

          <!-- Heading Part  -->
          <div class="col-md-9" style="margin-top: 10px; ">
            <p style="color: white;">Get connected with us on social networks!</p>
          </div>
          <!-- End Of Heading Part  -->
            
          <!--Social Media Symbols-->
          <div class="col-md-3" style="margin-top: 10px; text-align:end;">
            <div class="container">
              <div class="row">
                <div class="col-md-2">
                  <a style="color: white;" href="https://web.whatsapp.com/send?phone=+919413425457&text=Hello" target="_blank">
                  <i class="bi bi-whatsapp"></i>
                  </a>
                </div>

                <div class="col-md-2">
                  <a style="color: white;">
                  <i class="bi bi-facebook"></i>
                  </a>
                </div>

                <div class="col-md-2">
                  <a style="color: white;" target="_blank" href="https://www.google.com/search?q=vallabh+fashion&rlz=1C1CHBF_enIN944IN944&oq=vallabh+fashion&aqs=chrome..69i57j0i22i30j69i61l3.7112j0j7&sourceid=chrome&ie=UTF-8">
                  <i class="bi bi-google"></i>
                  </a>
                </div>
                
                <div class="col-md-2">
                  <a style="color: white;" target="_blank" href="https://www.instagram.com/_override.constructor_/">
                  <i class="bi bi-instagram"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!-- End Of Social Media Symbols -->
        </div>
      </div>
    </div>
    <!-- End Of First Section of the Footer -->

    <!-- Second Section of the Footer -->
    <div class="row" style="background-color:rgba(60, 100, 200);">
      <div class="container">
        <div class="row"  style="margin-top: 10px;">

          <!-- Company Name Footer -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase subtitle">Strategic Link</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 50px; background-color:rgba(9, 9, 9, 0.85);">
          <p class="footeradd" >We take care of our constomer. Give our best service to provide statisfied delivery to our constomer.</p>
          </div>
          <!-- End of Company Name Footer -->

          <!-- Footer Products -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase subtitle">Products</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 50px; background-color:rgba(9, 9, 9, 0.85);">
          <p>
            <a class="footeradd"  href="#!">Sarees</a>
          </p>
          <p>
            <a class="footeradd" href="#!">Lehengas & Dresses</a>
          </p>
          <p>
            <a  class="footeradd" href="#!">Other Products</a>
          </p>
          </div>
          <!-- End of Footer Products -->

          <!-- Useful Link Footer -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase subtitle">Useful links</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 50px; background-color:rgba(9, 9, 9, 0.85);">
          <p>
            <a class="footeradd" href="#!">Your Account</a>
          </p>
          <p>
            <a class="footeradd" href="#!">Become an Affiliate</a>
          </p>
          <p>
            <a class="footeradd"  href="#!">Shipping Rates</a>
          </p>
          <p>
            <a class="footeradd" href="#!">Help</a>
          </p>
          </div>
          <!-- End of Useful Link Footer -->

          <!-- Footer Contact -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase font-weight-bold subtitle">Contact</h6>
          <hr class="accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 50px; background-color:rgba(9, 9, 9, 0.85);">
          <p class="footeradd">
            <i class="bi bi-house-door-fill" ></i> Goregoan, Mumbai, Maharashtra - 400006</p>
          <p class="footeradd">
            <i class="bi bi-envelope-fill"></i> drniti@strategiclinks.in
 </p>
          <p class="footeradd"> 
            <i class="bi bi-telephone-fill"></i> +91 99203 88111</p>
          <p class="footeradd" ><a class="footeradd" href="https://web.whatsapp.com/send?phone=+919920388111&text=Hello" target="_blank">
            <i class="bi bi-whatsapp" ></i></a> +91 99203 88111</p>
          </div>
          <!-- End ofFooter Contact -->
        </div>
      </div>
      
      <div class="container-fluid" style="text-align: center;"><p style="color:white">© 2021 Copyright:<a class="footeradd" routerLink="/"> Strategic Links </a></p>
      </div>
    </div>
    <!-- End Of Second Section of the Footer-->

 
  </div>
</footer>
<!-- Footer -->