.color1{
    color: rgb(255, 255, 255);
    
}

.color2{
    color: rgb(0, 0, 0);

}

.bcolor1{
    background-color: rgba(46, 95, 255, 0.842);
    border-radius: 5px 20px 5px; 
    margin-top: 15px;
}

.bcolor2{
    background-color: rgba(69, 159, 201, 0.8);
    border-radius: 5px 20px 5px; 
    margin-top: 15px;
}

.title{
    margin-top: 20px;
    font-size:18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.subtitle{
    font-size:15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.contain{
    font-size:15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align:justify;
    margin-top: 25px;
}
