<div class="container-fluid">

  <div class="row">
    <div class="container">
      <div class="col-md-12" >
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 bcolor1">
                <p class="color1 title" style="font-size: 25px;" >
                  About Us
                </p>
                
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!--First Row-->
  <div class="row">
    
   
    
    <div class="col-md-8" >
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
          <h1>TALENT MANAGEMENT</h1>
            <p class="color2 contain">
              

              Improving business value by addressing employee performance issues through competency identification, talent development, 
              performance management and career structure definition.
              <br>




OUR EXPERTISE

What sets us apart is our highly experienced team that engages passionately with the client to drive long term Development Initiatives that fuel the achievement of clients’ strategic needs. Through our robust Talent Management framework, we ensure that the Human Capital of the client organization grows from strength to strength.
              <br>
              The Competency-based Talent Management Approach maps employee capability to organizational competency requirements, which further helps drive strategy. The idea is to move from Talent Management as an event to Talent Management as a sustainable Strategic Business Tool. PB works in the following areas in Talent Management:
              <br>
              <mat-icon aria-hidden="false" aria-label="Example home icon" style="color:rgba(46, 95, 255, 0.842)">arrow_right_alt</mat-icon>
              <b style="color:rgba(46, 95, 255, 0.842)">Competency Framework: </b> PB helps organizations design their Technical & Functional Competencies. We work across industries by partnering with industry stalwarts and ex-CEOs from the relevant sector. PB has proven expertise in Position Profiling which maps the job role to the expected proficiency level of the Competency Framework.
<br>
              <mat-icon aria-hidden="false" aria-label="Example home icon" style="color:rgba(46, 95, 255, 0.842)">arrow_right_alt</mat-icon>
              <b style="color:rgba(46, 95, 255, 0.842)">Talent Assessment: </b>Individual competency feedback and developmental guidance is provided to all participants based on their performance in the Development / Assessment Centre. In addition, PB, provides the Organizational Talent Inventory with a Nine Box Matrix clearly identifying the Hi-Potentials. These inputs feed into the succession plan and build the talent pipeline for the organizations.
<br>
              <mat-icon aria-hidden="false" aria-label="Example home icon" style="color:rgba(46, 95, 255, 0.842)">arrow_right_alt</mat-icon>
              <b style="color:rgba(46, 95, 255, 0.842)">Performance Management: </b>Create a coherent strategic plan aligning all functions/departments to capture strategic aspects. Realign or design the entire Performance Management process basis the industry best practices and inputs from the organizational diagnostic to help create a high performance organization.
<br>
              <mat-icon aria-hidden="false" aria-label="Example home icon" style="color:rgba(46, 95, 255, 0.842)">arrow_right_alt</mat-icon>
              <b style="color:rgba(46, 95, 255, 0.842)">Career Structure: </b>Careers today are no longer a simple game of upward movement but a more sophisticated game of chess where multiple moves are possible in several directions. PB’s process of designing career ladders & career lattices are more conducive to an evolving matrix structure prevalent across several organizations today, keeping in mind the ‘career-life fit’ of employees. This provides them with flexible options to move horizontally or vertically in the hierarchy and change directions based on aspirations aligned to the overall organizational strategy.

<br>
<br>
<b>Benefits of our approach:</b><br>

An outcome based engagement approach can support in

<br><mat-icon aria-hidden="false" aria-label="Example home icon" style="color:rgba(46, 95, 255, 0.842)">arrow_right_alt</mat-icon>A holistic customized approach towards talent management.
<br><mat-icon aria-hidden="false" aria-label="Example home icon" style="color:rgba(46, 95, 255, 0.842)">arrow_right_alt</mat-icon>Use of multiple methods including Multi source feedback (360 Degree), Development or assessment centers.
<br><mat-icon aria-hidden="false" aria-label="Example home icon" style="color:rgba(46, 95, 255, 0.842)">arrow_right_alt</mat-icon>Focussed approach towards identifying and developing high potentials through a business outcome based approach.
<br><mat-icon aria-hidden="false" aria-label="Example home icon" style="color:rgba(46, 95, 255, 0.842)">arrow_right_alt</mat-icon>Experiential approach towards talent development focussed on adult learning model.
<br><mat-icon aria-hidden="false" aria-label="Example home icon" style="color:rgba(46, 95, 255, 0.842)">arrow_right_alt</mat-icon>Talent Review with clear business results through high impact succession planning.
<br><br><b>Competency Framework:</b><br><br>

People Business has designed Behavioural as well Technical Competency Framework for organizations across industries. Our competency design process is extremely robust and uses extensive data from leadership and organization wide discussions gathered and analysed by a team of experienced consultants.

Figure: Building Blocks for Competency Identification
Figure: Building Blocks for Competency Identification
Our Approach for designing a competency framework involves conducting interviews with the High Performers and key team members across the levels and functions in the organization in addition to the business leadership interviews. This helps us develop an understanding of the current capability of the employees and future expectations aligned to the changed business priority(s).

The data captured through the interviews is then synthesized and contextualized according to the levels or bands for competency proficiency and arrive at a draft Competency Model.
The final Competency Model is validated through discussions with the leadership of the organization. The changes are incorporated before finalizing the competency framework.

Figure: Process for Competency Framework Development
Figure: Process for Competency Framework Development
Talent Assessment

Over the years, People Business has built a niche in conducting competency based Talent Assessments for over 100 companies. Our competency based assessments are both face to face in nature and virtual. Our process is extremely robust with consistency in the areas of integration/rating, with a validated rating scale and a proven assessor team.

PB uses its Competency-based approach to assessments and maps the employee capability to organizational competency requirements to further help drive strategy. The idea is to use Competencies as a sustainable Strategic Business Tool.

PB Assessment Centres include individual competency feedback and developmental guidance for all participants based on their performance. In addition, PB provides the organizational talent inventory with a nine Box Matrix clearly identifying the Hi-Potentials and mid-term fits (for higher level roles). The inputs can directly be fed into the succession plan and talent pipeline.

The face to face competency assessment through an assessment centre promotes familiarity between the assessor and participants that helps during the feedback sessions. Virtual competency assessments through a stable secured virtual platform help us in conducting assessments for a large pool of participants in a smaller time frame.

For our competency based talent assessments, we deploy a set of exercises / tools to capture participants’ behaviour when they respond to different situations / questions during the assessment centre.

The tools which may be played out over the platform include Business Case Analysis (Response to specific questions and/or Presentation of the Analysis), Behavioural Event Interviews, Role plays & Exercises designed to assess the response of the Leader in varying situation in a day of her/his work.

In addition, assessments through a 360 Degree survey customized to the organizational competency is also deployed by PB. The questionnaires customized to the organizational competencies help the organization get a cost effective talent assessment.

For designing any kind of talent assessment, a 3 phased approach is taken.

Having appropriate and representative content is critical for any AC. The Guidelines used by PB clearly help build the AC tools and exercises on a thorough organization and job analysis. The guidelines also help build the exercises in line with the competencies being used for assessment.
Virtual Assessment Centre

PB’s virtual assessment centre deployment is derived from its experience of conducting competency based assessment centres for a wide range of organizations across over the years. The virtual assessment centres incorporate the high content, construct, and predictive validity of its in-person assessments centres.

PB aims to provide an impactful virtual experience through the Virtual Assessment Centres. The Virtual Assessment Technology Platform provides virtualization of the in-person traditional assessment.

We focus on delivering a stable secured virtual platform through which we deploy the set of exercises / tools to capture participant’s behaviour when they respond to different situations / questions. Our Assessors get a comprehensive briefing about the requirement, toolset and the deployment process to ensure a consistent user experience across the group while impending the assessment for a large pool of participants.

Performance Management

Our research and work in the area of Performance management has helped us understand best in class practices, which has helped us in building a sustainable performance management culture in client organizations. Our view of performance management is of a set of guiding principles that can be used to create and sustain a high-impact approach that engages the entire organization.

While designing Performance management systems and processes in an organization we consider it essential include an ongoing process of communication between a supervisor and an employee. This helps in successful accomplishment of the strategic objectives of the organization. The communication process includes clarifying expectations, setting objectives, identifying goals, providing feedback, and also reviewing results. Our design considers the 3 fundamental stages of a performance management cycle:

To build a high performance culture in an organization, PB adopts an integrated approach by incorporating the needs of the business, effectiveness of current existing practices and best practices and methodologies of leading organizations. This has helped us in driving high performance among multiple organizations in different industries.
Figure: PB’s approach for Building High Performance Organization
Figure: PB’s approach for Building High Performance Organization
The performance management systems and processes designed by PB ensure that some of the best in class practices are incorporated by:

Providing guidelines to connect goals of each individual to the organization‘s mission or objectives.
Putting in shorter term goals and expectations that are flexible with changing situations.
Making continuous learning possible for every employee of the organization.
Instituting a process that promotes giving and receiving of informal feedback in real time to encourage an on-going conversations between the manager and the team member.
Enabling the manager and empowering him/her to be responsible and accountable for team‘s performance management.
Career Structure

For an organization, it is important to ensure that its employees are correctly placed in their current role and have a view of their future positions / levels (horizontal or vertical), along with the awareness of competencies or skills required to move to the future level.

We at people business help organizations create career structures that are more conducive to the evolving matrix structure with multiple vertical and horizontal paths. Our solutions and structure design take care of the respective career growth needs of the employees, whether it be fast, slow or changing the direction, incorporating the career-life fit aspect into the design.

Our approach to design career structures and paths are flexible and can be adjusted to the changing needs of the organizations as well as the employees based on their preferences. We also believe in incorporating the learning path for an individual in the career structure, to make the employee aware about the changing requirements of the future role.

Figure: PB’s Framework for designing Career Structure
Figure: PB’s Framework for designing Career Structure
Our design customization is focused on the matching the organization needs and the Individual Aspirations by putting appropriate filters in place. This helps pinpoint the best investments for building and sustaining formal talent.

</p>
          </div>
        </div>
      </div>
    </div>

     <div class="col-md-4" >
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 bcolor1">
              <p class="color1 title" >
                Rishabh Jain</p>
              <p class="color1 subtitle">
              Developer of the Company.</p>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!--End of first row-->

 

</div>
